<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>
    <div ng-app="">
        <p style="background-color:{{name}}">Name: <input type="text" ng-model="name"></p>
        <p ng-bind="name"></p>
        <!-- // Peut aussi s'écrire <p>{{ name }}</p> -->
    </div>
</body>

</html>