<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js">
</script>

<body>
    <div ng-app="app" ng-controller="controlleur">
        <input id="num1" type="number" ng-model="num1">
        <select name="operateur" id="operateur" ng-model="operateur">
            <option value="*">*</option>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="/">/</option>
        </select>
        <input id="num2" type="number" ng-model="num2">
        <p>{{ calc( num1, num2, operateur) }}</p>
    </div>
</body>

<script>
    let app = angular.module("app", []);

    app.controller("controlleur", function ($scope) {
        $scope.operateur = '+';

        let ops = {
            '+': (a, b) => { return a + b },
            '-': (a, b) => { return a - b },
            '*': (a, b) => { return a * b },
            '/': (a, b) => { return a / b },
        };

        $scope.calc = function (a, b, op) { return ops[op](a, b) };

    });
</script>

</html>