<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Pokemon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="jquery-ui-1.12.1/jquery-ui.min.css">
    <script src="jquery-ui-1.12.1/external/jquery/jquery.js"></script>
    <script src="jquery-ui-1.12.1/jquery-ui.min.js"></script>

    <script>
        let app = angular.module("app", []);
        var pokemons = [];

        app.controller("controlleur", function ($scope, $http) {
            $http.get("https://raw.githubusercontent.com/fanzeyi/Pokemon-DB/master/pokedex.json").then(function (response) {
                $scope.pokemons = response.data;
                response.data.forEach(p => {
                    pokemons.push(p.ename);
                });
                $("#autocomplete").autocomplete({
                    source: pokemons
                });
            });
        });

    </script>
</head>

<body>
    <div class="ui-widget">
        <label for="autocomplete">Nom :</label>
        <input type="text" name="name" id="autocomplete">

    </div>

    <div ng-app="app" ng-controller="controlleur">
        <p ng-repeat="p in pokemons">{{p.ename}}</p>
    </div>
</body>

</html>